
<div>
  {{film.title}}
</div>

<div>
  {{film.description}}
</div>

<div>
  {{film.director}}
</div>

<div>
  {{film.producer}}
</div>

<div>
  {{film.release_date}}
</div>

<div>
  {{film.rt_score}}
</div>


<div>
  Poeple
  <ul>
  {{#each people as |people|}}
    <li>
      {{#link-to "people.person" people.id}}
        {{people.name}}
      {{/link-to}}
    </li>
  {{/each}}
  </ul>
</div>

<div>
  Locations
  <ul>
  {{#each locations as |location|}}
    <li>
      {{#link-to "locations.location" location.id}}
        {{location.name}}
      {{/link-to}}
    </li>
  {{/each}}
  </ul>
</div>

<div>
  Vehicles
  <ul>
  {{#each vehicles as |vehicle|}}
    <li>
      {{#link-to "vehicles.vehicle" vehicle.id}}
        {{vehicle.name}}
      {{/link-to}}
    </li>
  {{/each}}
  </ul>
</div>
